.container {
    width: 75%;
    background-color: antiquewhite;
}

.useravatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
}

.msg {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    margin: 5px;
    border-radius: 3px;
    transition: box-shadow 0.3s, background-color 1s ease, border 1s ease, padding 0.5s ease, margin 0.5s ease;
}

.msg:hover {
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.6);
    background-color: aliceblue;
    border: 2px solid black;
    padding: 15px;
    margin: 0 5px;
}

.msg p {
    margin: 2px;
}

.bold {
    font-weight: bold;
}

/* 

transition - властивість, яка дозволяє створювати плавні анімації

transition: властивість тривалість timing-function затримка

-властивість: властивості, які будуть змінюватись і переходити до нового значення
- тривалість: час, протягом якого відбувається перехід від поточного значення до нового
- timing-function: функція, яка визначає особливості швидкості переходу
- затримка: затримка перед початком переходу

timing-function:
ease - починається повільно, прискорюється у середині переходу, потім сповільнюється ближче до завершення переходу
ease-in - повільний старт
ease-out - повільне закінчення
ease-in-out - повільний старт і закінчення


box-shadow - властивість, яка дозволяє додавати тінь до елемента

box-shadow: горизонтальне-зміщення вертикальне-зміщення розмиття поширення колір

- горизонтальне-зміщення: відстань, на яку тінь зміщюється праворуч (позитивне значення) або ліворуч (від'ємне значення)
- вертикальне-зміщення: відстань, на яку тінь зміщюється вниз (позитивне значення) або вверх (від'ємне значення)
- розмиття: чим більше значення, тим більш розмитою буде тінь
- поширення: позитивне значення збільшить тінь, а від'ємне значення зменшить тінь
- колір: колір тіні. За замовчуванням тінь чорна

*/